<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'dollar-sign'" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Pagos realizados</span>
                            <h3 class="mb-0">S/ <span class="counter">{{Pay | number: '1.2-2'}}</span><small> Este
                                    día</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden  widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'dollar-sign'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Pagos pendientes</span>
                            <h3 class="mb-0">S/ <span class="counter">{{PendingPayment | number: '1.2-2'}}</span><small>
                                    Este día</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'dollar-sign'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Pagos programados</span>
                            <h3 class="mb-0">S/ <span class="counter">{{ProgrammedPayment | number:
                                    '1.2-2'}}</span><small> Este día</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-info card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'dollar-sign'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8"><span class="m-0">Descuento total</span>
                            <h3 class="mb-0">S/ <span class="counter">{{discount | number:
                                    '1.2-2'}}</span><small> Este día</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Pagos semanal  de ({{weekGraphFirst |  date: 'dd/MM/yyyy'}} - {{weekGraphEnd |  date: 'dd/MM/yyyy'}})</h5>
                </div>
                <div class="card-body">
                    <div  style="display: block">
                        <canvas baseChart [datasets]="barChartDatasetsWeek" [labels]="barChartLabelsWeek" [options]="barChartOptions"
                        [legend]="barChartLegend" [type]="barChartType">
                    </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Pagos Mensual del año ({{yearGraph}})</h5>
                </div>
                <div class="card-body">
                    <div  style="display: block">
                        <canvas baseChart [datasets]="barChartDatasetsMonth" [labels]="barChartLabelsMonth" [options]="barChartOptions"
                        [legend]="barChartLegend" [type]="barChartType">
                    </canvas>
                    </div>
                </div>
            </div>
        </div>
     
    </div> 
</div>
<!-- Container-fluid Ends-->