<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-xl-8 col-sm-7 ">
                    <div class="input-group mb-3">
                      <span class="input-group-text" (click)="getListRole()">
                        <i class="fa fa-search"></i>
                      </span>
                        <input type="text" [(ngModel)]="searchText" (keyup.enter)="getListRole()"
                               class="form-control">
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-sm-3">
                    <div class="btn-popup pull-right">
                        <a class="btn btn-primary" [routerLink]="'/settings/create-profile'">Crear Perfil</a>
                    </div>
                </div>
            </div>

            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of listRole">
                            <td>{{item.id}}</td>
                            <td>{{item.roleName}}</td>
                            <td>
                                <a routerLink="/settings/{{ item.id }}/edit-profile"><i
                                        class="fa fa-edit f-12"></i> </a>&nbsp;
                                <a href="javascript:void(0)" (click)="onDelete()"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end p-2">
                        @if (collectionSize != 0) {
                            <ngb-pagination class="d-flex justify-content-end"
                                            [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                            [rotate]="true" [maxSize]="5" [boundaryLinks]="true"  (pageChange)="loadPage($event)"/>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
</ngx-spinner>
<!-- Container-fluid Ends-->