<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-xl-8 col-sm-7 ">
                    <div class="input-group mb-3">
                      <span class="input-group-text" (click)="getAllMenu()">
                        <i class="fa fa-search"></i>
                      </span>
                        <input type="text" [(ngModel)]="searchText" (keyup.enter)="getAllMenu()"
                               class="form-control">
                    </div>
                </div>
                <div class="col-12 col-xl-4 col-sm-3">
                    <div class="btn-popup pull-right">
                        <a class="btn btn-primary" (click)="openModal(content,0)">Crear</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="batchDelete" class="custom-datatable transcation-datatable">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Menu Padre</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Url</th>
                                    <th scope="col">Tipo menu</th>
                                    <th scope="col">icono</th>
                                    <th scope="col" style="width: 1rem;">Accions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of menuList">
                                    <td>{{ item.menuParent }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.path }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.icon }}</td>
                                    <td style="width: 1rem;">
                                        <a href="javascript:void(0)" (click)="openModal(content,item.id)"><i
                                                class="fa fa-edit f-12"></i></a>&nbsp;
                                        <a href="javascript:void(0)" (click)="onDelete(item.id)"><i
                                                class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-8 col-sm-8">
                                <div class="d-flex justify-content-start p-2">
                                    <label> Existe(n) {{ totalRecords }} resultado(s) para mostrar </label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-4">
                                <div class="d-flex justify-content-sm-center justify-content-md-center justify-content-xl-end p-2">
                                    @if (collectionSize != 0) {
                                        <ngb-pagination class="d-flex justify-content-end"
                                                        [collectionSize]="collectionSize" [(page)]="page"
                                                        [pageSize]="pageSize" [rotate]="true" [maxSize]="5"
                                                        [boundaryLinks]="true"
                                                        (pageChange)="loadPage($event)"/>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Rubro</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="needs-validation" autocomplete="off" #forma="ngForm" [formGroup]="menuForm">
            <div class="form">
                <div class="form-group">
                    <label for="name" class="mb-1"> Menu :</label>
                    <ng-select placeholder="Seleccionar el menu" formControlName="parentId">
                        <ng-option *ngFor="let item of listMenu" [value]="item.id">
                            {{ item.description }}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="form-group">
                    <label for="name" class="mb-1"> <span>*</span>Descripción :</label>

                    <input id="name" class="form-control" type="text" formControlName="description"
                           [class.is-invalid]="menuForm.get('description').invalid && menuForm.get('description').touched"/>

                    <div *ngIf="menuForm.controls.description.touched && menuForm.controls.description.errors?.required"
                         class="text text-danger">
                        Es necesario la descripción del menu
                    </div>

                </div>
                <div class="form-group">
                    <label for="orderMenu" class="mb-1"> <span>*</span> Orden del menu :</label>

                    <input id="orderMenu" class="form-control" type="text" formControlName="orderby"
                           [class.is-invalid]="menuForm.get('orderby').invalid && menuForm.get('orderby').touched"/>

                    <div *ngIf="menuForm.controls.orderby.touched && menuForm.controls.orderby.errors?.required"
                         class="text text-danger">
                        Es necesario el orden del menu
                    </div>

                </div>
                <div class="form-group">
                    <label class="mb-1"> <span>*</span> Tipo link menu :</label>
                    <ng-select placeholder="Seleccionar el menu" formControlName="type">
                        <ng-option *ngFor="let item of listTypeLink" [value]="item.id">
                            {{ item.id }}
                        </ng-option>
                    </ng-select>
                    <div
                            *ngIf="menuForm.controls.type.touched && menuForm.controls.type.errors?.required"
                            class="text text-danger">
                        Seleccione el tipo
                    </div>
                </div>
                <div class="form-group">
                    <label for="link" class="mb-1"> <span>*</span> Link :</label>

                    <input id="link" class="form-control" type="text" formControlName="path"
                           [class.is-invalid]="menuForm.get('path').invalid && menuForm.get('path').touched"/>

                    <div *ngIf="menuForm.controls.path.touched && menuForm.controls.path.errors?.required"
                         class="text text-danger">
                        Se Necesita link
                    </div>

                </div>
                <div class="form-group">
                    <label for="icon" class="mb-1"> Icon :</label>
                    <input id="icon" class="form-control" type="text" formControlName="icon"/>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">
            <i class="fa fa-save"></i>
            Guardar
        </button>

        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
            <i class="fa fa-window-close"></i>
            Cerrar
        </button>
    </div>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
</ngx-spinner>
<!-- Container-fluid Ends-->