.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input {
    padding-right: 80px;
}

button {
    margin-left: 10px;
    cursor: pointer;
}
