<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="access-denied">
                <div class="animated-wrapper mb-4">
                    <img src="assets/images/404.png" class="animated-image" alt="Access Denied">
                </div>
                <h1 class="display-4 animated-text bounce-in">Página No Encontrada</h1>
                <p class="lead animated-text fade-in">Lo sentimos, la página que buscas no existe.</p>
                <div class="mt-4">
                    <button class="btn btn-primary me-3 animated-button pulse" (click)="handleGoBack()">
                        <i class="fa fa-reply-all" aria-hidden="true"></i> Regresar</button>
                    <button class="btn btn-danger animated-button pulse" (click)="handleLogout()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Salir del Sistema</button>
                </div>
            </div>
        </div>
    </div>
</div>
