<div class="modal-header">
    <h5 class="modal-title f-w-600" id="exampleModalLabel">Pagar</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="tab2-card">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (click)="onActive()">
            <li [ngbNavItem]="1">
                <a ngbNavLink><i class="me-2" data-feather="user"></i> Pago</a>
                <ng-template ngbNavContent>
                    <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                         aria-labelledby="top-profile-tab">
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Nro documento</label>
                                    <input type="text" class="form-control" [(ngModel)]="loan.documento"
                                           disabled="true">
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Fecha Vencimiento</label>
                                    <input type="text" class="form-control"
                                           [ngModel]="loan.fechaVenta | date : 'dd/MM/yyyy'"
                                           disabled="true">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-xl-6">
                                <div class="form-group  mb-3">
                                    <label>Cliente</label>
                                    <textarea type="text" class="form-control" [(ngModel)]="loan.sRazonSocial"
                                              disabled="true"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Fecha Pago</label>
                                    <div class="input-group">
                                        <input class="datepicker-here form-control digits" ngbDatepicker
                                               #f="ngbDatepicker"
                                               placeholder="dd/mm/yyyy"
                                               [(ngModel)]="datePay">
                                        <div class="input-group-append">
                                            <button class="btn calendar" (click)="f.toggle()" type="button"><i
                                                    class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Tipo de Pago</label>
                                    <ng-select placeholder="Seleccionar" (change)="onTypePayChange($event)"
                                               [(ngModel)]="typePay">
                                        <ng-option *ngFor="let item of listTypePay"
                                                   [value]="item.code">{{ item.description }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3" *ngIf="isVisibledBank">
                                <div class="form-group  mb-3">
                                    <label>Tipo Banco</label>
                                    <ng-select placeholder="Seleccionar" [(ngModel)]="typeBank">
                                        <ng-option *ngFor="let item of listBank" [value]="item.id">{{ item.name }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Total</label>
                                    <input type="text" class="form-control"
                                           value="{{ loan.nPendiente | number: '1.2-2'}}"
                                           disabled="true">
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Monto de pago</label>
                                    <input type="text" class="form-control" [(ngModel)]="payMount" autofocus
                                           (ngModelChange)="onChangeMonto()">
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Monto Restante</label>
                                    <input type="text" class="form-control" value="{{ payMountRest | number: '1.2-2'}}"
                                           disabled="true">
                                </div>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-xl-3">
                                <div class="form-group  mb-3">
                                    <label>Descuento</label>
                                    <input type="text" class="form-control" [(ngModel)]="discount">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink class="d-flex align-items-center"><i data-feather="settings" class="me-2"></i>Lista de
                    Pago</a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div id="batchDelete" class="custom-datatable transcation-datatable">
                            <div class="table-responsive contenedor-tabla detallePago">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Hora</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Descuento</th>
                                        <th scope="col">Fecha pago</th>
                                        <th scope="col">Fecha registro</th>
                                        <th scope="col">Usuario registro</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        @if (listDetailPay.length === 0) {
                                            <tr>
                                                <td colspan="15">No Existe datos para mostrar</td>
                                            </tr>
                                        }
                                        @for (item of listDetailPay; track item.item) {
                                            <tr>
                                                <td>{{ item.item }}</td>
                                                <td>{{ item.sHora }}</td>
                                                <td>{{ item.nMonto }}</td>
                                                <td>{{ item.discount }}</td>
                                                <td>{{ item.dFecha }}</td>
                                                <td>{{ item.dFecReg }}</td>
                                                <td>{{ item.usuario }}</td>
                                                <td>
                                                    <a href="javascript:void(0)" title="Descargar"
                                                       (click)="openModalPayPDF(item.numero,false)"><i
                                                            class="fa fa-download"></i> </a>&nbsp;
                                                    <a href="javascript:void(0)" title="Eliminar"
                                                       (click)="onDeletePay(item.numero)"><i
                                                            class="fa fa-trash"></i> </a>&nbsp;
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSavePay()">
        <i class="fa fa-save"></i>
        Guardar
    </button>
    <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">
        <i class="fa fa-window-close"></i>
        Cerrar
    </button>

</div>